/*------------------------------------*\
    $COMMON
\*------------------------------------*/

* {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
}

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.fit {
	width: 100%;
}