/*------------------------------------*\
    $FORMS
\*------------------------------------*/

.input-wrapper {
	display: inline-block;
	input {
		border: 1px solid $color-gray;
		height: 45px;
		padding-left: 1em;
		vertical-align: top;
		width: 160px;
		&:focus {
			outline: none;
			border-color: $color-blue;
		}
		&:focus + button{
			outline: none;
			background-color: $color-blue;
			border-color: $color-blue;
		}
	}
	button {
		background-color: $color-gray;
		border: 1px solid $color-gray;
		color: #fff;
		height: 45px;
		width: 45px;
		&:focus {
			outline: none;
		}
		&:active {
			background-color: darken($color-blue,10%);
			border-color: darken($color-blue,10%);
		}
		&:active + input {
			border-color: darken($color-blue,10%);
		}
	}
}

input[type="checkbox"] {
	display: none;
}

label.checkbox span.icons {
	font-family: 'Fontawesome';
	background-color: $color-green;
	height: 20px;
	width: 20px;
}