/*------------------------------------*\
    $GOODIES
\*------------------------------------*/

button {
 	background-color: $color-blue;
 	height: 50px;
	width: 200px;
}

a.button {
 	height: 50px;	
	width: 200px;
}