/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

/* Colors */
$color-green: #57b266;
$color-blue: #6292cc;
$color-red: #fc8670;
$color-yellow: #f0cf0c;
$color-gray: #cecece;

/* Sizes */
$icon-size: 16px;